@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@font-face {
    font-family: 'iransans-medium';
    src: url("../../public/fonts/Woff/IRANSansXFaNum-Medium.woff");
    font-display: swap;
}

@font-face {
    font-family: 'iransans-bold';
    src: url("../../public/fonts/Woff/IRANSansXFaNum-Bold.woff");
    font-display: swap;
}

@font-face {
    font-family: 'iransans-medium';
    src: url("../../public/fonts/Woff2/IRANSansXFaNum-Medium.woff2");
    font-display: swap;
}

@font-face {
    font-family: 'iransans-bold';
    src: url("../../public/fonts/Woff2/IRANSansXFaNum-Bold.woff2");
    font-display: swap;
}

body {
    min-height: 100vh;
    background-color: var(--body-bg);
    color: var(--body-text);
    transition: all 150ms;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'iransans-medium';
    --font-bold: 'iransans-bold';
    --text-2sm: 10px;

    --radius-10: 10px;

    --color-primary: #0057FF;
    --color-secondary: #00000666;
    --color-maindark: #231F20;
    --color-secdark: #252525;
    --color-lables: #333333;
    --color-darkbg: #0E0E12;
    --color-textlight: #595959;
    --color-textdark: #C6C3D2;
    --color-selected: #E5F2FF;
    --color-stroke: #EFEFEF;
    --color-darkstroke: #525252;
    --color-bar: #0000069E;
    --color-hover: #D2D2D2;
    --color-failbg: #F8E5E5;
    --color-fail: #F65555;
    --color-success-c: #039874;
}

@utility container {
    margin: auto;
    padding-inline: 1rem;

    @variant sm {
        padding-inline: 2rem;
    }

    @variant lg {
        padding-inline: 4rem;
    }

    @variant xl {
        padding-inline: 5rem;
    }

    @variant 2xl {
        padding-inline: 10rem;
    }
}

* {
    outline: none;
}

/* h1,h3,h4,h5,h6{
    @apply !font-kalameh
} */

.bg-primary {
    background: #0057FF
}

h2 {
    @apply text-lables dark:text-white
}

button {
    @apply cursor-pointer
}

.flex-center {
    @apply flex justify-center items-center
}

.primary {
    @apply !bg-primary !text-white
}

.vpd-icon-btn {
    @apply !w-[40px] !bg-primary !rounded-tr-10 !rounded-br-10
}

.vpd-header {
    background: #0057FF !important;
}

.vpd-day-effect {
    background: #0057FF !important;
    color: white !important;
}

.vpd-day {
    @apply dark:!text-black
}

.vpd-month-label {
    @apply dark:!text-black
}

.vpd-actions button {
    color: #0057FF !important;
}

.vpd-actions button:nth-child(3) {
    display: none;
}

.form-control {
    @apply bg-[#EFEFEF] dark:bg-secdark !border-none !rounded-tl-10 rounded-bl-10 !h-[40px];
}

.vpd-content {
    border-radius: 10px !important;
}

/* primevue */
.p-toast {
    @apply !w-11/12 !max-w-[350px]
}

.p-toast-message {
    box-shadow: none !important;
}

.ltr-dir {
    direction: ltr !important
}

:root {
    --body-bg: #F7F7F7;
    --p-progressspinner-color-one: black;
    --p-progressspinner-color-two: black;
    --p-progressspinner-color-three: black;
    --p-progressspinner-color-four: black;
    --color-primary: #0057FF;
    --color-secondary: #00000666;
}

:root.dark {
    --body-bg: #0E0E12;
    --body-text: white
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #0057FF #fff;
}